you made this notebook based on sqlbolt to understand sql (https://sqlbolt.com/lesson/select_queries_introduction)

good job, have some tea üçµ

In [ ]:
"kiv√°lasztja az √∂sszes oszlopot az adatb√≥l"
SELECT * 
FROM mytable;
"specific cols"
SELECT column, another_column, ‚Ä¶
FROM mytable;

In [ ]:
"conditional kiv√°laszt√°s"
SELECT column, another_column, ‚Ä¶
FROM mytable
WHERE condition
    AND/OR another_condition
    AND/OR ‚Ä¶;

BETWEEN ‚Ä¶ AND ‚Ä¶	| Number is within range of two values (inclusive)|col_name BETWEEN 1.5 AND 10.5

NOT BETWEEN ‚Ä¶ AND ‚Ä¶	|Number is not within range of two values (inclusive) |col_name NOT BETWEEN 1 AND 10

IN (‚Ä¶)	| Number exists in a list | col_name IN (2, 4, 6)

NOT IN (‚Ä¶)	| Number does not exist in a list	| col_name NOT IN (1, 3, 5)

**=**	Case sensitive exact string comparison (notice the single equals)	col_name = "abc"

**!= or <>**	Case sensitive exact string inequality comparison	col_name != "abcd"

**LIKE**	Case insensitive exact string comparison	col_name LIKE "ABC"

**NOT LIKE**	Case insensitive exact string inequality comparison	col_name NOT LIKE "ABCD"

**%** Used anywhere in a string to match a sequence of zero or more characters (only with LIKE or NOT LIKE)	col_name LIKE "%AT%"
(matches "AT", "ATTIC", "CAT" or even "BATS")

**_**	Used anywhere in a string to match a single character (only with LIKE or NOT LIKE)	col_name LIKE "AN_"
(matches "AND", but not "AN")

**IN (‚Ä¶)**	String exists in a list	col_name IN ("A", "B", "C")

**NOT IN (‚Ä¶)**	String does not exist in a list	col_name NOT IN ("D", "E", "F")

In [ ]:
"unique results"
SELECT DISTINCT column, another_column, ‚Ä¶
FROM mytable
WHERE condition(s);

In [ ]:
"ordered results"
SELECT column, another_column, ‚Ä¶
FROM mytable
WHERE condition(s)
ORDER BY column ASC/DESC "ezzel ordered col lesz"
LIMIT num_limit OFFSET num_offset; "limit num of rows, offset honnan kezdi"

## Multiple tables

In [ ]:
"Select query with INNER JOIN on multiple tables"
SELECT column, another_table_column, ‚Ä¶
FROM mytable
INNER JOIN another_table 
    ON mytable.id = another_table.id
WHERE condition(s)
ORDER BY column, ‚Ä¶ ASC/DESC
LIMIT num_limit OFFSET num_offset;

**INNER JOIN** : megvan a sor mindk√©t t√°bl√°ban

**LEFT JOIN** : minden sor A t√°bl√°b√≥l, mindegy hogy B-ben megvan-e

**RIGHT JOIN** :minden sor B t√°bl√°b√≥l, mindegy hogy A-ban megvan-e

**FULL JOIN** : minden marad, mindegy hogy van-e match